.service-selector {
  display: block;
  /* border: 2px solid red; */
  gap: 10px;
}

.service-item-line {
  display: flex;
}

.service-item {
  width: 70%;
  background-color: #f0f0f0;
  border-radius: 40px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  margin-top: 15px;
}

.service-item img {
  border-radius: 30px;
  width: 50%;
}
.service-item:hover {
  transform: scale(1.5);
  border: 2px solid rgb(0, 102, 255);
}

.service-image {
  width: 50%;
  float: right; /* Floats the image to the right */
  margin: 15px;
}

.service-name {
  font-size: 18px;
  padding: 5px;
  text-align: center;
  margin-top: 22px;
}

/* Alternate positioning for left and right items */
.service-item.left {
  transform: translateX(0%);
  margin-left: 10px;
}

.service-item.right {
  transform: translateX(42.7%);
  margin-right: 10px;
}

.ServiceLeft {
  float: right;
}

.ServiceRight {
  float: left;
}

.callToAction {
  font-size: smaller;
  animation: flash 1s infinite, bounce 1s infinite;
}

@keyframes flash {
  0% {
    color: blue;
  }
  50% {
    color: black;
  }
  100% {
    color: blue;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
