.all {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  padding: 10px;
  margin: 20px;
  height: fit-content;
  border: 2px dashed rgb(0, 102, 255);
  border-radius: 30px;
}
